@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Global Uppercase for Forms (Excluded on Login Page) */
body:not(.login-page) input[type="text"],
body:not(.login-page) input[type="search"],
body:not(.login-page) textarea {
    text-transform: uppercase;
}

input::placeholder,
textarea::placeholder {
    text-transform: none;
}
